.cabecalho-moda{
    background-color: #BB86FC
    
}

.cabecalho-casa{
    background-color: #00C4B4;
}

.dados-da-tabela{
    background-color: #424250 ;
}

.tabela{
    color: rgb(255, 255, 255);
    font-size: 24px;
}